apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: hub
rendezvousIP: 172.16.30.20
additionalNTPSources:
  - 0.rhel.pool.ntp.org
  - 1.rhel.pool.ntp.org
hosts: 
  - hostname: hub-ctlplane-0.hub.5g-deployment.lab
    role: master
    interfaces:
      - name: enp1s0
        macAddress: aa:aa:aa:aa:01:01
    rootDeviceHints: 
      deviceName: "/dev/vda"
    networkConfig: 
      interfaces:
        - name: enp1s0
          type: ethernet
          state: up
          mac-address: aa:aa:aa:aa:01:01
          ipv4:
            enabled: true
            address:
              - ip: 172.16.30.20
                prefix-length: 24
            dhcp: false
          ipv6: 
            enabled: false
      dns-resolver:
        config:
          server:
            - 172.16.30.1
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 172.16.30.1
            next-hop-interface: enp1s0
            table-id: 254
  - hostname: hub-ctlplane-1.hub.5g-deployment.lab
    role: master
    interfaces:
      - name: enp1s0
        macAddress: aa:aa:aa:aa:01:02
    rootDeviceHints:
      deviceName: "/dev/vda"
    networkConfig: 
      interfaces:
        - name: enp1s0
          type: ethernet
          state: up
          mac-address: aa:aa:aa:aa:01:02
          ipv4:
            enabled: true
            address:
              - ip: 172.16.30.21
                prefix-length: 24
            dhcp: false
          ipv6:
            enabled: false
      dns-resolver:
        config:
          server:
            - 172.16.30.1
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 172.16.30.1
            next-hop-interface: enp1s0
            table-id: 254
  - hostname: hub-ctlplane-2.hub.5g-deployment.lab
    role: master
    interfaces:
      - name: enp1s0
        macAddress: aa:aa:aa:aa:01:03
    rootDeviceHints:
      deviceName: "/dev/vda"
    networkConfig:
      interfaces:
        - name: enp1s0
          type: ethernet
          state: up
          mac-address: aa:aa:aa:aa:01:03
          ipv4:
            enabled: true
            address:
              - ip: 172.16.30.22
                prefix-length: 24
            dhcp: false
          ipv6:
            enabled: false
      dns-resolver:
        config:
          server:
            - 172.16.30.1
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: 172.16.30.1
            next-hop-interface: enp1s0
            table-id: 254
