apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
archiveSize: 4
mirror:
  platform:
    architectures:
    - "amd64"
    channels:
    - name: stable-4.18
      minVersion: 4.18.27
      maxVersion: 4.18.27
      type: ocp
    graph: true
  operators:
  - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.18
    full: false
    packages:
    - name: 'advanced-cluster-management'
    - name: 'multicluster-engine'
    - name: 'topology-aware-lifecycle-manager'
    - name: 'openshift-gitops-operator'
    - name: 'lvms-operator'
    - name: 'odf-operator'
    - name: 'odf-csi-addons-operator'
    - name: 'local-storage-operator'
    - name: 'mcg-operator'
    - name: 'ptp-operator'
    - name: 'sriov-network-operator'
    - name: 'cluster-logging'
    - name: 'file-integrity-operator'
    - name: 'compliance-operator'
    - name: 'kernel-module-management'
    - name: 'kernel-module-management-hub'
    - name: 'node-maintenance-operator'
    - name: 'amq-streams'
    - name: 'quay-operator'
    - name: 'redhat-oadp-operator'
    - name: 'servicemeshoperator'
    - name: 'rhbk-operator'
    - name: 'lifecycle-agent'
  additionalImages:
  - name: registry.redhat.io/openshift4/ztp-site-generate-rhel8:v4.18.0
  helm: {}
