apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
archiveSize: 4
mirror:
  platform:
    architectures:
    - "amd64"
    channels:
    - name: stable-4.18
      minVersion: 4.18.27
      maxVersion: 4.18.27
      type: ocp
    graph: true
  operators:
  - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.18
    full: false
    packages:
    - name: 'advanced-cluster-management'
      channels:
        - name: 'release-2.14'
          minVersion: 'v2.14.1'
          maxVersion: 'v2.14.1'
    - name: 'multicluster-engine'
      channels:
        - name: 'stable-2.9'
          minVersion: 'v2.9.1'
          maxVersion: 'v2.9.1'
    - name: 'topology-aware-lifecycle-manager'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.2'
          maxVersion: 'v4.18.2'
    - name: 'openshift-gitops-operator'
      channels:
        - name: 'latest'
          minVersion: 'v1.18.1'
          maxVersion: 'v1.18.1'
    - name: 'lvms-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.3'
          maxVersion: 'v4.18.3'
    - name: 'odf-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.12-rhodf'
          maxVersion: 'v4.18.12-rhodf'
    - name: 'odf-csi-addons-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.12-rhodf'
          maxVersion: 'v4.18.12-rhodf'
    - name: 'local-storage-operator'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.0-202511031549'
          maxVersion: 'v4.18.0-202511031549'
    - name: 'mcg-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.12-rhodf'
          maxVersion: 'v4.18.12-rhodf'
    - name: 'ptp-operator'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.0-202510210939'
          maxVersion: 'v4.18.0-202510210939'
    - name: 'sriov-network-operator'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.0-202511031549'
          maxVersion: 'v4.18.0-202511031549'
    - name: 'cluster-logging'
      channels:
        - name: 'stable-6.4'
          minVersion: 'v6.4.0'
          maxVersion: 'v6.4.0'
    - name: 'file-integrity-operator'
      channels:
        - name: 'stable'
          minVersion: 'v1.3.6'
          maxVersion: 'v1.3.6'
    - name: 'compliance-operator'
      channels:
        - name: 'stable'
          minVersion: 'v1.7.1'
          maxVersion: 'v1.7.1'
    - name: 'kernel-module-management'
      channels:
        - name: 'stable'
          minVersion: 'v2.4.1'
          maxVersion: 'v2.4.1'
    - name: 'kernel-module-management-hub'
      channels:
        - name: 'stable'
          minVersion: 'v2.4.1'
          maxVersion: 'v2.4.1'
    - name: 'node-maintenance-operator'
      channels:
        - name: 'stable'
          minVersion: 'v5.4.1'
          maxVersion: 'v5.4.1'
    - name: 'amq-streams'
      channels:
        - name: 'stable'
          minVersion: 'v3.0.1-3'
          maxVersion: 'v3.0.1-3'
    - name: 'quay-operator'
      channels:
        - name: 'stable-3.15'
          minVersion: 'v3.15.2'
          maxVersion: 'v3.15.2'
    - name: 'redhat-oadp-operator'
      channels:
        - name: 'stable-1.4'
          minVersion: 'v1.4.7'
          maxVersion: 'v1.4.7'
    - name: 'servicemeshoperator'
      channels:
        - name: 'stable'
          minVersion: 'v2.6.11'
          maxVersion: 'v2.6.11'
    - name: 'rhbk-operator'
      channels:
        - name: 'stable-v26.4'
          minVersion: 'v26.4.4-opr.1'
          maxVersion: 'v26.4.4-opr.1'
    - name: 'lifecycle-agent'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.1'
          maxVersion: 'v4.18.1'
  additionalImages:
  - name: registry.redhat.io/openshift4/ztp-site-generate-rhel8:v4.18.0
  helm: {}
