kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
archiveSize: 4
mirror:
  platform:
    architectures:
    - "amd64"
    channels:
    - name: stable-4.18
      minVersion: 4.18.28
      maxVersion: 4.18.28
      type: ocp
    graph: true
  operators:
  - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.18
    full: false
    packages:
    - name: 'advanced-cluster-management'
      channels:
      - name: 'release-2.13'
    - name: 'multicluster-engine'
      channels:
      - name: 'stable-2.8'
    - name: 'topology-aware-lifecycle-manager'
      channels:
      - name: 'stable'
    - name: 'openshift-gitops-operator'
      channels:
      - name: 'latest'
    - name: 'lvms-operator'
      channels:
      - name: 'stable-4.18'
    - name: 'odf-operator'
      channels:
      - name: 'stable-4.18'
    - name: 'odf-csi-addons-operator'
      channels:
      - name: 'stable-4.18'
    - name: 'local-storage-operator'
      channels:
      - name: 'stable'
    - name: 'mcg-operator'
      channels:
      - name: 'stable-4.18'
    - name: 'ptp-operator'
      channels:
      - name: 'stable'
    - name: 'sriov-network-operator'
      channels:
      - name: 'stable'
    - name: 'cluster-logging'
      channels:
      - name: 'stable-6.2'
    - name: 'file-integrity-operator'
      channels:
      - name: 'stable'
    - name: 'compliance-operator'
      channels:
      - name: 'stable'
    - name: 'kernel-module-management'
      channels:
      - name: 'stable'
    - name: 'kernel-module-management-hub'
      channels:
      - name: 'stable'
    - name: 'node-maintenance-operator'
      channels:
      - name: 'stable'
    - name: 'amq-streams'
      channels:
      - name: 'stable'
    - name: 'quay-operator'
      channels:
      - name: 'stable-3.13'
    - name: 'redhat-oadp-operator'
      channels:
      - name: 'stable-1.4'
    - name: 'servicemeshoperator'
      channels:
      - name: 'stable'
    - name: 'rhbk-operator'
      channels:
      - name: 'stable-v26'
    - name: 'lifecycle-agent'
      channels:
      - name: 'stable'
  additionalImages:
  - name: registry.redhat.io/ubi9/ubi:latest
  - name: registry.redhat.io/openshift4/ztp-site-generate-rhel8:v4.18.0-39
  helm: {}
