apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
archiveSize: 4
mirror:
  platform:
    architectures:
    - "amd64"
    channels:
    - name: stable-4.18
      minVersion: 4.18.27
      maxVersion: 4.18.27
      type: ocp
    graph: true
  operators:
  - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.18
    targetCatalog: openshift-marketplace/redhat-operators-disconnected
    full: false
    packages:
    - name: 'advanced-cluster-management'
    - name: 'multicluster-engine'
    - name: 'topology-aware-lifecycle-manager'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.3'
          maxVersion: 'v4.18.3'
    - name: 'openshift-gitops-operator'
      channels:
        - name: 'latest'
          minVersion: 'v1.19.1'
          maxVersion: 'v1.19.1'
    - name: 'lvms-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.4'
          maxVersion: 'v4.18.4'
    - name: 'odf-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'odf-dependencies'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'rook-ceph-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'ocs-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'mcg-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'odf-prometheus-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'cephcsi-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'odf-csi-addons-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'odf-multicluster-orchestrator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'ocs-client-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'odr-cluster-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'recipe'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'odf-csi-addons-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'local-storage-operator'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.0-202601302238'
          maxVersion: 'v4.18.0-202601302238'
    - name: 'mcg-operator'
      channels:
        - name: 'stable-4.18'
          minVersion: 'v4.18.15-rhodf'
          maxVersion: 'v4.18.15-rhodf'
    - name: 'ptp-operator'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.0-202602040315'
          maxVersion: 'v4.18.0-202602040315'
    - name: 'sriov-network-operator'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.0-202601302238'
          maxVersion: 'v4.18.0-202601302238'
    - name: 'cluster-logging'
      channels:
        - name: 'stable-6.4'
          minVersion: 'v6.4.2'
          maxVersion: 'v6.4.2'
    - name: 'file-integrity-operator'
      channels:
        - name: 'stable'
          minVersion: 'v1.3.8'
          maxVersion: 'v1.3.8'
    - name: 'compliance-operator'
      channels:
        - name: 'stable'
          minVersion: 'v1.8.2'
          maxVersion: 'v1.8.2'
    - name: 'kernel-module-management'
      channels:
        - name: 'stable'
          minVersion: 'v2.5.1'
          maxVersion: 'v2.5.1'
    - name: 'kernel-module-management-hub'
      channels:
        - name: 'stable'
          minVersion: 'v2.5.1'
          maxVersion: 'v2.5.1'
    - name: 'node-maintenance-operator'
      channels:
        - name: 'stable'
          minVersion: 'v5.5.0'
          maxVersion: 'v5.5.0'
    - name: 'amq-streams'
      channels:
        - name: 'stable'
          minVersion: 'v3.1.0-11'
          maxVersion: 'v3.1.0-11'
    - name: 'quay-operator'
      channels:
        - name: 'stable-3.16'
          minVersion: 'v3.16.2'
          maxVersion: 'v3.16.2'
    - name: 'redhat-oadp-operator'
      channels:
        - name: 'stable-1.4'
          minVersion: 'v1.4.8'
          maxVersion: 'v1.4.8'
    - name: 'rhbk-operator'
      channels:
        - name: 'stable-v26.4'
          minVersion: 'v26.4.8-opr.1'
          maxVersion: 'v26.4.8-opr.1'
    - name: 'lifecycle-agent'
      channels:
        - name: 'stable'
          minVersion: 'v4.18.2'
          maxVersion: 'v4.18.2'
